html, body, div, textarea {
    margin:0;
    padding:0;
    border:0px;
    box-sizing: border-box;
}

#wrapper {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: grey; */
}

.inputField {
    display: block;
    width: 45%;
    height:90%;
    margin-right:2%;
    /* position: relative; */
}

#top-menu1 {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    top:0%;
    left:0%;
}

#input-content {
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    outline: none;
    padding: 20px;
    resize:vertical;
    width:100%;
    height: 100%;
}

.previewField {
    display: block;
    padding: 20px;
    margin-left:2%;
    width:45%;
    height: 90%;
    border: 1px solid black;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.areaExpand { 
    width: 80%;
} 

.displayNone {
    display: none;
}
